.App {
  text-align: center;
}



.App-header {
  background-color: #147da7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 50px;
  color: white;
}

.App-logo {
  width: 200px;
  margin: px auto;
  padding: 15px 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(2, 26, 40);
}